* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hearder */
.nav-ul li {
  display: inline-block;
  padding: 10px;
}

.nav-ul {
  padding: 5px;
  margin: 0px;
  background-color: skyblue;
}

.nav-ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px;
}

/* SignUp Form */
.register {
  margin-left: 30%;
}

.inputBox {
  padding: 7px;
  display: block;
  border: 1px solid skyblue;
  width: 300px;
  margin: 20px;
}

.appButton {
  margin: 20px;
  width: 150px;
  padding: 10px;
  background-color: skyblue ;
  border: solid 1px;
  cursor: pointer;
}

/* 


*/

.footer {
  position: absolute;
  bottom: 0;
  background-color: skyblue;
  width: 100%;
  text-align: center;
}
